.dark{
    --bg1: #141f07;
    --p: #ffffff;
    --titule: #ebc640; 
    --nav: #f0dfa2; 
}

.light{
    --bg1: #f3e8c1;
    --p: #373636; 
    --titule:#198754;
    --nav: #FFBE3B;     
}

body{

    background-color: var(--bg1);
}

p{
    font-style: strong;
    color: var(--p);
}
h1 {
    color: var(--titule);
}

.row {
margin-top: 100px;
margin-left:100px ;
margin-right: 100px;
}

.min-vh-100 {
margin-top: 150px;
margin-bottom: -100px;

}
header {
background-color: var(--nav) !important;
}

.custom-shape-divider-bottom-1762367776 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-bottom-1762367776 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
    background-position: cover;
    background-repeat: repeat-x;
    background-size: 0.5rem !important;
}

.custom-shape-divider-bottom-1762367776 .shape-fill {
    fill: #F5A623;
}


@media (max-width: 768px) {
    .row {
        margin: 20px;
    }
}